doctype html
html(lang="en")
    include public/head.pug
    body
        
        // start aside
        include public/sidebar.pug
        // end aside

        
        include public/sections.pug
        
        
        script(src="./js/libs.min.js")
        script(src="./js/main.js")  
