// start bbody

section.bbody
    .container
        h1.bbody__text.header__text Table Name
        table.bbody__table 
            thead 
                tr
                    th T/R 
                    th Nomi
                    th Nomi
                    th Nomi
            tbody 
                tr 
                    td 1
                    td nom
                    td nom
                    td nom
                tr 
                    td 2
                    td nom
                    td nom
                    td nom
                

// end bbody