// start footer

footer.footer.bg 
    .container 
        .footer__inner 
            .footer__info
                p Biz bilan bog'lanish uchun ma'lumotlar =>
                p Web sayt yoki telegram bot kerakmi? <br> Unda bizga murojat qiling.
            .footer__dev
                .dev 
                    .dev__name Maxmudov Eldorbek
                        .link 
                            a.dev__tel(href="tel:998906100515") +998-90-610-05-15
                            a.dev__mail(href="mailto:eldorbekm94@gmail.com") eldorbekm94@gmail.com
                .dev
                    .dev__name Botirov Jamshid
                        .link
                            a.dev__tel(href="tel:998972770117") +998-97-277-01-17
                            a.dev__mail(href="mailto:jamshid_botirov@gmail.com") jamshid_botirov@gmail.com


// end footer